<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headFragment :: headFragment('pizza menu')"></th:block>
</head>
<body>

<header th:replace="fragments/macroPiece/header :: headerMacro('DETAIL', ${area})"></header>

<div class="detail-pizza-container">
    <img th:src="${pizza.image}" alt="immagine pizza">
    <h3 th:text="${'Prodotto: ' + pizza.name}"></h3>
    <p>Descrizione: <br> [[${pizza.description}]]</p>
    <br>
    <span th:text="${'prezzo: ' + pizza.price + ' €'}"></span>
</div>






<section class="container" th:object="${pizza}">

    <h2>Offers
        <a th:href="@{/offer/create(pizzaId=*{id})}">add</a>
    </h2>
    <div th:if="*{offers.size() == 0}" class="alert alert-info">No offers available</div>

    <ul th:if="*{offers.size() > 0}">
        <li th:each="offer : *{offers}" th:object="${offer}">
            <span th:text="*{title}"></span>
            <a class="btn btn-primary my-2" th:href="@{/offer/edit/{id}(id=*{id})}">modify</a>
        </li>
    </ul>
</section>






<footer th:replace="fragments/macroPiece/footer :: footFragment"></footer>


</body>
</html>